.app { 
  /* background-image: url('https://www.publicdomainpictures.net/pictures/150000/velka/the-freeway.jpg'); 
  background-image: url('carpool_fade.jpg'); */
  background-position: center; 
  background-repeat: no-repeat;
  background-size: contain; 
  z-index: 0; 
  /* height: 1200px; */
  margin-top: -30px;
  padding-top: 30px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f8a26b+0,fed163+54&1+0,0.81+100 */
background: -moz-linear-gradient(left, rgba(248,162,107,1) 0%, rgba(254,209,99,0.9) 54%, rgba(254,209,99,0.81) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, rgba(248,162,107,1) 0%,rgba(254,209,99,0.9) 54%,rgba(254,209,99,0.81) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, rgba(248,162,107,1) 0%,rgba(254,209,99,0.9) 54%,rgba(254,209,99,0.81) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8a26b', endColorstr='#cffed163',GradientType=1 ); /* IE6-9 */
}