.header-bar {
  background-color: rgb(50, 92, 116);
  color: white;
  height: 100px;
  margin-top: -30px;
}

.header-bar > h1 {
  font-size: 40px;
  padding: 30px 0;
  text-align: start;
  margin-left: 50px;
}

.header-username {
  text-align: end;
  margin-top: -55px;
  margin-right: 220px;
  font-size: 20px;
  color: white;
}

.log-out-button  {
  width: 80px;
  height: 35px;
  margin: 0;
  color: white;
  background-color:rgb(50, 92, 116);
  border: 1px solid white;
  font-size: 18px;
  position: absolute;
  top: 30px;
  right: 30px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.log-out-button:hover  {
  color: rgb(50, 92, 116);
  background-color: white;
  border: 1px solid rgb(50, 92, 116);
}

.header-profile-pic{
  /* position: absolute; */
  max-width: 100%;
  max-height: 100%;
  border-radius: 50%;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

.header-profile-pic-container{
  width: 80px;
  height: 80px;
  right: 125px;
  top: 7px;
  position: absolute;
}

@media only screen and (max-width: 1024px) {
  .header-bar > h1 {
    margin-left: 30px;
  }

}

@media only screen and (max-width: 550px) {
  .header-bar {
    height: 130px;
  }
  .header-bar > h1 {
    margin-left: 10px;
  }

  .header-bar > button  {
    position: absolute;
    border-radius: 8px;
    top: 80px;
    padding: 2px 0;
  }

}

@media only screen and (max-width: 440px) {

  .header-bar > h1 {
    text-align: center;
  }
}

