.header-bar {
  /* background-color: rgb(50, 92, 116); */
  background-color: white;
  color: rgb(50, 92, 116);
  height: 80px;
	width: 100%;
  padding: 0;
  top: 0;
  right: 0;
	text-align: center;
  position: fixed;
  z-index: 1;
}

.header-bar > h1, h1.landing {
  font-size: 55px;
  text-align: start;
  margin-left: 50px;
  margin-top: 0;
  font-family: 'Lobster', cursive;
  padding-bottom: 8px;
}

.header-username {
  text-align: end;
  margin-top: 30px;
  margin-right: 220px;
  font-size: 20px;
  color: rgb(50, 92, 116);
  padding: 0;
  top: 0;
  right: 0;
	text-align: center;
  position: fixed;
  z-index: 2;
}

.log-out-button  {
  width: 80px;
  height: 40px;
  margin: -10px 0 0 0;
  position: absolute;
  right: -80px;
  /* top: 10px; 
  color: white; 
  background-color:rgb(50, 92, 116);
  border: 1px solid white;
  font-size: 15px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px; */

  background-color: transparent;
  color: rgb(50, 92, 116);
  font-weight: bold;
  text-align: center;
  font-size: 25px;
  border: none;
}

.log-out-button:hover  {
  /* color: rgb(50, 92, 116);
  background-color: white;
  border: 1px solid rgb(50, 92, 116); */

  border: none;
  cursor: pointer;
  color: #FBB872;
  transition:  color 0.6s;
  -webkit-transition:  color 0.6s;
  -moz-transition:  color 0.6s;
  -ms-transition:  color 0.6s;
  -o-transition:  color 0.6s;
}

.header-profile-pic{
  max-height: 60%;
  border-radius: 50%;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

.header-profile-pic-container{
  width: 80px;
  height: 80px;
  right: 25px;
  top: 0;
  position: absolute;
}

@media only screen and (max-width: 1024px) {
  .header-bar > h1 {
    margin-left: 30px;
  }

}

@media only screen and (max-width: 800px) {

  .header-bar > h1 {
    margin-left: 10px;
    font-size: 40px;
  }

  .header-bar > button, .log-out-button  {
    position: absolute;
    border-radius: 8px;
    /*top: 80px;*/
    top: 10px;
    right: 100px;
    padding: 2px 0;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

  .header-username {
    display: none;
  }

  .header-bar {
    height: 60px;
  }

  .header-profile-pic-container{
    /* right: 10px; */
    top: -10px;
    right: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .log-out-button {
    /* margin-top: 60px; */

    top: 210px;
    right: 5px;

  }

}


@media only screen and (max-width: 420px) {
  .log-out-button {
    /* top: 25px;
    right: 80px; */


    top: 210px;
    right: 5px;
  }

  .header-bar > h1 {
    text-align: left;
    font-size: 40px;
    margin-top: 0;
  }

  .header-profile-pic-container{
    /* right: 10px; */
    top: -10px;
    right: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
  }

 
}
