form label, form input {
	display: block;
}

label {
	text-align: start;
	margin: 10px 0;
	font-size: 15px;
	font-weight: 500;
}

input {
	height: 5px;
	width: 286px;
	padding: 15px;
	border: 2px solid #ccc;
	border-radius: 3px;
	font-size: 15px;
}

.login-form {
	margin: 0 auto;
	text-align: center;
	background: white;
	width: 320px;
	padding: 20px 0;
	border-radius: 3px;
}

.login-form > button {
  width: 289px;
  height: 45px;
  padding: 10px;
  background: rgb(50, 97, 116);
  color: white;
	border: solid 2px black;
  font-size: 18px;
  margin: 20px 37px 0 0;
  border-radius: 3px;
}

button:hover {
  background: #ddd;
  color:  black;
	cursor: pointer;
	border: solid 2px rgb(50, 97, 116);
  }

.login, .login a {
color: white;
text-align: center;
font-size: 15px;
}

.signup-note {
margin: 0 30px 0 0;
text-align: center;
}

@media only screen and (max-width: 420px) {
  .login-form {
		margin-top: 30px;
	}	
}

.login-form h2{
	opacity: 50%;
}