.map {
  display: flex;
  justify-content: center;
  margin: 20px auto;
}

.markers {
  margin-top: -50px;
  width: 14px;
  height: 50px;
  padding-top: 10px;
  padding-left: 2px;
  border-top-left-radius: 0%;
  border-top-right-radius: 0%;
  border-bottom-left-radius: 150%;
  border-bottom-right-radius: 150%;
  font-size: 0;
}

.markers:hover {
  margin-top: -60px;
  width: 14px;
  height: 60px;
  background-color: red;
  font-size: 0px;
}

.markers:hover + .startMarkers {
  margin-top: -50px;
  width: 14px;
  height: 50px;
  background-color: lightblue;
  /* font-size: 0; */
  visibility: visible;
}

.startMarkers {
  /* position: fixed; */
  margin-top: -50px;
  width: 14px;
  height: 100px;
  padding-top: 10px;
  padding-left: 13px;
  border-top-left-radius: 0%;
  border-top-right-radius: 0%;
  border-bottom-left-radius: 150%;
  border-bottom-right-radius: 150%;
  font-size: 15px;
  /* background-color: blueviolet;s */
  visibility: hidden;
}