.modal-backdrop {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: gray;
    opacity: 0.3;
    z-index: 10;
    animation: backdrop-animation 0.5s normal;
    height: 600px;
  }

  .confirm-modal-content {
    position: fixed;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
    /* width: 300px; */
    background: white;
    z-index: 11;
    /* padding: 20px; */
    border-radius: 5px;
    box-shadow: 1px 2px 10px 0 rgba(0,0,0,0.3);
    animation: modal-animation 0.5s normal;
  }

  @media only screen and (max-width: 500px) {
    .confirm-modal-content {
      transform: translate(-50%, -50%);
      top:45%;
    }
}

@keyframes modal-animation {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes backdrop-animation {
  from {opacity: 0;}
  to {opacity: 0.3;}
}