#profilePiclbl {
  font-weight: bold;
}

.profilePic {
  max-width: 160px;
  display: block;
}

.pic-container {
  max-width: 300px;
  margin: -40px auto 0 auto;
  margin-right: auto;
  text-align: center;
  font-size: 25px;
  border-radius: 8;
  background-color: white;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  padding: 20px;
}

.login-form img {
  display: block;
  margin: 10px auto 20px;
}

.profile-form {
  margin: -30px auto;
  background-color: transparent;
}

.login-form input {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.profile-labels {
  display: block;
  font-weight: bold;
  margin-top: 20px;
}

.profile-label-container {
  margin-top: 10px;
}

.profile-container {
  margin: -60px auto;
  display: block;
  padding: 4px 0 40px 0;
  font-size: 20px;
  color: black;
  /* border: 2px solid rgb(117, 29, 29); */
  /* background-color: white; */
  border-radius: 5px;
  width: 400px;
  -webkit-border-radius: 5px;
}

.profile-modal-container {
  margin: 20px auto;
  display: block;
  padding: 0 10px 40px 10px;
  font-size: 20px;
  color: black;
  /* border: 2px solid rgb(117, 29, 29); */
  border-radius: 5px;
  width: 400px;
  -webkit-border-radius: 5px;
}

@media only screen and (max-width: 420px) {

  .profile-modal {
    margin: 100px auto;
    padding-bottom: 30px;
  }

  .profile-modal-container {
    margin-top: 0;
    padding: 0;
    width: 300px;
  }

  .profile-container {
    position: absolute;
    max-width: 320px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    padding-bottom: 10px;
    margin-top: 10vh;
  }

  .login-form {
    font-size: 22px;
  }

  .profile-container {
    margin: -70px auto -50px auto;
  }

  .dashboard {
    margin-top: 120px;
  }

}