#profilePiclbl{
  font-weight: bold;
}

.profilePic {
  max-width: 160px;
  display: block;
  
}

.pic-container {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 25px;
}

.pic-container img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.pic-container input{
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.profile-labels {
  display: block;
  font-weight: bold;
}


.profile-label-container{
  margin-top: 10px;
}


.profile-container{
  margin: 20px auto;
  display: block;
  padding: 0 10px 40px 10px;
  font-size: 20px;
  /* font-weight: 700; */
  color: black;
  border: 2px solid rgb(117, 29, 29);
  border-radius: 5px;
  width: 400px;
  -webkit-border-radius: 5px;
}

.profile-modal-container{
  margin: 20px auto;
  display: block;
  padding: 0 10px 40px 10px;
  font-size: 20px;
  /* font-weight: 700; */
  color: black;
  /* border: 2px solid rgb(117, 29, 29); */
  border-radius: 5px;
  width: 400px;
  -webkit-border-radius: 5px;
}