.algolia-autocomplete {
    width: 100%;
  }

  .algolia-places {
    width: 400px;
  }

  .ap-input-icon {
      display: none;
  }

  .ap-icon-clear {
      display: none;
  }

  .ap-icon-pin {
      display: none;
  }

  .ap-input {
      padding-left: 5px;
      padding-right: 5px;
  }

  .proximity-search-button{
      display: block;
      margin-right : auto;
      margin-left: auto;
  }

  .searchRadius-label{
    display: block;
    margin-top: 10px;
  }

  .to-time-containter{
      display: inline-block;
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 10px;
  }
  
  @media only screen and (max-width: 420px) {

    .algolia-places {
        width: 100%;;
      }
    
    .ap-input {
        font-size: 10px;
    }

  }