ul.tabContainer{
  list-style-type: none;
  margin: 79px 0;
  padding: 0;
  width: 100%;
  overflow: hidden;
  background-color: lightblue;
  top: 0;
  right: 0;
	text-align: center;
  position: fixed;
  z-index: 1;
}

ul.tabContainer li {
  float: left;
}

ul.tabContainer li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.tabContainer li a:hover {
  background-color: grey;
}

ul.tabContainer li a.active {
  background-color: salmon;
}