ul.tabContainer{
  list-style-type: none;
  /* margin: 79px 0; */
  margin: 0 auto;
  padding: 0;
  width: 100%;
  /* overflow: hidden; */
  /* background-color: lightblue; */
  top: 15px;
  right: 0;
	text-align: center;
  position: fixed;
  margin-right: 190px;
  z-index: 1;
}

ul.tabContainer li {
  float: right;
}

ul.tabContainer li a {
  display: block;
  color: rgb(50, 92, 116);
  font-weight: bold;
  text-align: center;
  font-size: 25px;
  padding: 14px 16px;
  text-decoration: none;
}


ul.tabContainer li a:hover {
  /*background-color: grey;*/
  cursor: pointer;
  /*border: 1px solid white;*/
  color: #FBB872;
  transition:  color 0.6s;
  -webkit-transition:  color 0.6s;
  -moz-transition:  color 0.6s;
  -ms-transition:  color 0.6s;
  -o-transition:  color 0.6s;
}


ul.tabContainer li a.active {
  /* background-color: salmon; */
  /* color: #110E0E; */
  /* border-bottom: 3px solid white; */
  color: #FBB872;
}

ul.tabContainer li a.icon {
  display: none;
}

/* Hamburger Menu */

.burger {
  display: inline-block;
  cursor: pointer;
  z-index: 3;
  width: 50px;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: rgb(50, 92, 116);
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}


@media only screen and (max-width: 800px) {

ul.tabContainer {
  margin: -5px 0 0 0;
  top: 0;
  right: 0;
  width: 161px;
}

ul.tabContainer.responsive li.first-menu-spot{
  height: 45px;
}

ul.tabContainer li a {
  display: none;
}

ul.tabContainer li a.icon {
    float: right;
    display: block;
}

ul.tabContainer li.icon-li {
  float: right;
  display: block;
}

/* ul.tabContainer.responsive {position: relative;} */
  ul.tabContainer.responsive li a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  ul.tabContainer.responsive li {
    float: none;
    display: block;
    text-align: right;
    color: rgb(50, 92, 116);
    /* background-color: rgb(50, 92, 116); */
    background-color: white;
    transition:  display 0.8s;
    -webkit-transition:  display 0.8s;
    -moz-transition:  display 0.8s;
    -ms-transition:  display 0.8s;
    -o-transition:  display 0.8s;
}

  ul.tabContainer.responsive li a{
    float: none;
    display: block;
    text-align: right;
    border: none;
    color: rgb(50, 92, 116);
  }

  .bar1, .bar2, .bar3 {
    background-color: rgb(50, 92, 116);
  }
}