* {
  box-sizing: border-box;
}

.dashboard {
  margin-top: 150px;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  text-align: center;
}

form.login-form, form.carpool-form {
  margin:  0 auto;
  display: block;
  padding: 10px 10px 40px 10px;
  font-size: 20px;
  font-weight: 700;
  color: black;
  border: 2px solid rgb(117, 29, 29);
  border-radius: 5px;
  width: 320px;
  overflow: scroll;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}


form.login-form{
  margin-top: 100px;
}

form.carpool-form {
  height: 500px;
}

input[type="text"],
input[type="password"],
input[type="textarea"],
.seat-selector, .details-input {
	width: 250px;
	height: 30px;
  margin: 10px auto;
  border: 1px solid rgb(117, 29, 29);
  font-size: 20px;
}

fieldset.address-fieldset {
  margin: 10px auto;
  padding: 5px;
  border: none;
}

.address-end-fieldset {
  margin: 10px 0;
  padding: 5px;
  border: none;
  
}

.seat-selector {
  font-size: 70%
}

.details-input {
  height: 4em;
}

button:hover {
  cursor: pointer;
}

button {
  width: 260px;
  height: 45px;
  padding: 10px;
  background: rgb(50, 97, 116);
  color: white;
  border: solid 2px black;
  font-size: 18px;
  margin: 20px 0 0 0;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

.join-button, .leave-button {
  width: fit-content;
  position: absolute;
  padding: 0 8px 1%;
	top: 0;
  right: 5px;
  margin-top: 5px;
}

.accept-button, .deny-button {
  width: 75px;
  height: 30px;
  padding: 0;
  margin: 15px;
  position: relative;
  /* top: 15px; */
}

.accept-button {
  background-color: green;
}

.deny-button {
  background-color: red;
}

button.close-modal-button {
  width: 20px;
  height: 25px;
  padding: 0;
  margin-left: 10px;
}

.login-form > button:hover, button:hover {
  color: rgb(117, 29, 29);
  background-color: white;
  border: 1px solid rgb(117, 29, 29);
}

.form-error {
  color: red;
}

.register-text, .login-text {
  font-size: 22px;
  margin-bottom: 0;
}

@media only screen and (max-width: 420px) {
  .dashboard {
    margin-top: 110px;
  }

  form.login-form{
    margin-top: 30px;
    font-size: 16px;
  }

  .join-button, .leave-button {
    height: 30px;
    font-size: 16px;
  }
  
  button {
    margin-top: 0;
  }

  input[type="text"]{
    height: 24px;
    font-size: 18px;
  }

  .home {
    padding-top: 20vh;
  }
  
  form.carpool-form {
    width: 100%;
  }
  
  .create-carpool-button {
    margin-bottom: 5px;
  }

}