* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  text-align: center;
  min-height: 100%;
  /* background-color: #110E0E; */
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Cabin', sans-serif;
  background: -moz-linear-gradient(left, rgba(248,162,107,1) 0%, rgba(254,209,99,0.9) 54%, rgba(254,209,99,0.81) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(248,162,107,1) 0%,rgba(254,209,99,0.9) 54%,rgba(254,209,99,0.81) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(248,162,107,1) 0%,rgba(254,209,99,0.9) 54%,rgba(254,209,99,0.81) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8a26b', endColorstr='#cffed163',GradientType=1 ); /* IE6-9 */
}

form.login-form, form.carpool-form, form.proximity-search-form {
  margin:  0 auto;
  display: block;
  padding: 10px 10px 40px 10px;
  font-size: 20px;
  font-weight: 400;
  color: black;
  border-radius: 5px;
  width: 320px;
  overflow: auto;
  background-color: white;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}


form.login-form{
  margin-top: 100px;
}

form.carpool-form {
  height: 500px;
}

input[type="text"],
input[type="password"],
input[type="textarea"],
.seat-selector, .details-input, .state-selector {
	width: 250px;
	height: 30px;
  margin: 10px auto;
  border: 1px solid rgb(117, 29, 29);
  font-size: 20px;
}

fieldset.address-fieldset {
  margin: 10px auto;
  padding: 5px;
  border: none;
}

.address-end-fieldset {
  margin: 10px 0;
  padding: 5px;
  border: none;
}
.state-selector > option, .seat-selector > option {
  width: 250px;
}

fieldset.address-fieldset {
  margin: 15px 0;
  
}

button:hover {
  cursor: pointer;
}

button {
  width: 260px;
  height: 45px;
  padding: 10px;
  background: rgb(50, 97, 116);
  color: white;
  border: solid 2px black;
  font-size: 18px;
  margin: 20px 0 0 0;
  border-radius: 3px;
  font-family: 'Cabin', sans-serif;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

.info {
  margin: 100px auto -80px auto;
  padding: 0 10px 5px 10px;
  color: white;
  width: 600px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.dashboard {
  margin-top: 150px;
}

.seat-selector {
  font-size: 70%
}

.details-input {
  height: 4em;
}

.days-checkbox {
  font-size: 19px;
}

.join-button, .leave-button {
  width: fit-content;
  position: absolute;
  padding: 0 8px 1%;
	top: 0;
  right: 5px;
  margin-top: 5px;
}

.accept-button, .deny-button {
  width: 75px;
  height: 30px;
  padding: 0;
  margin: 15px;
  position: relative;
  /* top: 15px; */
}

.accept-button {
  background-color: green;
}

.deny-button {
  background-color: red;
}

button.close-modal-button {
  width: 20px;
  height: 25px;
  padding: 0;
  margin-left: 10px;
}

.login-form > button:hover, button:hover {
  color: rgb(117, 29, 29);
  background-color: white;
  border: 1px solid rgb(117, 29, 29);
}

.form-error {
  color: red;
}

.register-text, .login-text {
  font-size: 22px;
  margin-bottom: 0;
}

@media only screen and (max-width: 600px) {
  .info {
    width: 400px;
  }
}


@media only screen and (max-width: 420px) {
  .dashboard {
    margin-top: 150px;
  }

  form.login-form{
    font-size: 16px;
    margin: 0 auto;
    width: 100%;
  }

  .join-button, .leave-button {
    height: 30px;
    font-size: 16px;
    width: fit-content;
  }
  
  button {
    margin-top: 0;
  }

  input[type="text"] {
    font-size: 18px;
  }

  .info {
    width: 100%;
    margin: -30px auto 20px auto;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}

  .home {
    padding-top: 20vh;
    width: 100%;
  }
  
  form.carpool-form {
    width: 100%;
  }
  
  .create-carpool-button {
    margin-bottom: 5px;
  }

}