* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  text-align: center;
}


form.login-form, form.carpool-form {
  margin:  20px auto;
  display: block;
  padding: 0 10px 40px 10px;
  font-size: 20px;
  font-weight: 700;
  color: black;
  border: 2px solid rgb(117, 29, 29);
  border-radius: 5px;
  width: 400px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

input[type="text"],
input[type="password"],
input[type="textarea"],
input[type="select"]#seats {
	width: 250px;
	height: 30px;
  margin: 10px auto;
  border: 1px solid rgb(117, 29, 29);
  font-size: 25px;
}

input[type="select"]#seats.seat-selector {
  width: 280px;
}

button:hover {
  cursor: pointer;
}

.login-form > button, .carpool-form > button  {
  width: 260px;
  height: 45px;
  padding: 10px;
  background: rgb(50, 97, 116);
  color: white;
  border: solid 2px black;
  font-size: 18px;
  margin: 20px 0 0 0;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

.login-form > button:hover {
  color: rgb(117, 29, 29);
  background-color: white;
  border: 1px solid rgb(117, 29, 29);
}

.form-error {
  color: red;
}

.register-text, .login-text {
  font-size: 22px;
  margin-bottom: 0;
}

